/* styles.css */

/* Style for the input field */
input {
    padding: 10px;
    border: 1px solid #ccc;
    margin-right: 0.5rem;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
    box-sizing: border-box;
    background-color: #FFF;
    color: black;
  }
  
  /* Optional: Add some margin to create space around the input field */
  input {
    margin-bottom: 10px;
  }
  
  /* Optional: Add hover effect */
  input:hover {
    border-color: #007bff; /* Change the color to your preferred hover color */
  }

 /* Style for the select dropdown */
select {
  padding: 9px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 200px;
  box-sizing: border-box;
  background-color: #FFF;
  color: black;
  margin-right: 0.5rem;
}

/* Optional: Add some margin to create space around the select dropdown */
select {
  margin-bottom: 10px;
}

/* Optional: Add hover effect */
select:hover {
  border-color: #007bff; /* Change the color to your preferred hover color */
}

/* Optional: Style the dropdown arrow */
select::after {
  content: '\25BC'; /* Unicode character for a downward-pointing triangle */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none; /* Make sure the arrow is not clickable */
}